.cardproduk-home{
    padding: 0 100px 0 100px;
}
.btn-beli{
    background-color: #FFD1CC;
    border: none;
    box-shadow: none;
}

.product{
    margin: 5px;
}

.btn-beli:hover{
    background-color: #FF9245!important;
    border: none!important;
    box-shadow: none;
}