.icon-atas-produk{
    width: 50%; 
    margin-bottom: 5px;
}
.nama-listpro{
    width: 50%;
}
.kanan-admin-produk{
    width: 100%;
}
.delete, .delete:hover{
    background-color: transparent;
    border-color: transparent;
}