.Footer{
    background-color: #EAD9C3!important;
    height: 60px;
    margin-top: 50px;
    text-align: center;
    color: #F47216;
}
.text-footer{
    margin-top: auto;
    margin-bottom: auto;
    /* color: white; */
}