.searchtxt {
    width: 40vw!important;
    border-radius: 5!important;
}

.searchbar, .searchbar:hover {
    /* outline: 1.5px solid #B66043; */
    border-radius: 5!important;
}

.searchbtn:hover {
    border-color: #B66043;
    background-color: #B66043!important;
}

.dosar-nav {
    background-color: #EAD9C3!important;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

.searchbtn {
    border-color: #B36A40;
    background-color: #B36A40!important;
    border-radius: 5!important;
    width: 5vw!important;
    margin-left: 0.5em;
}

.dropdown-menu {
    left: -100px!important;
}

.username {
    color: #B36A40;
    font-weight: 550;
}

.cart {
    margin-right: 60px;
}

@media (max-width: 1310px) {
    .searchtxt {
        width: 40vw!important;
    }
}

@media (max-width: 1030px) {
    .searchtxt {
        width: auto!important;
    }
}

.username-nav {
    position: relative;
}