.kategori{
    padding: 10PX 20px;
    width: 50%;
}

.kategori:hover{
    text-decoration: none;
    background-color: #FF9245!important;
    border: none!important;
    box-shadow: none;
}

.col-kategori{
    margin: 30px 5px 20px 5px;
}
.img-kategori{
    width: 80px;

}
.text-kategori{
    width: 100%;
    color: #ffffff;
    font-size: 30px;
}

.row{
    --bs-gutter-x: 0px!important;
}
