.kategori{
    padding: 10PX 20px;
    width: 50%;
    background-color: #F47216!important;
}

.kategori:hover{
    text-decoration: none;
    background-color: #FF9245!important;
    border: none!important;
    box-shadow: none;
}

.col-kategori{
    margin: 30px 5px 20px 5px;
}
.img-kategori{
    width: 80px;

}
.text-kategori{
    width: 100%;
    color: white;
    font-size: 30px;
}

.text-kategori:hover{
    text-decoration: none!important;
}

a, a:hover{
    text-decoration: none!important; 
}

.row{
    --bs-gutter-x: 0px!important;
}
